<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/submit" method="POST">
        <label for="name">first name: </label><input type="text" id="name" name="name"><br>
        <label for="address">address: </label><input type="text" id="address" name="address"><br>
        <label for="birthdate">date of birth: </label><input type="text" id="birthdate" name="birthdate"><br>
        <label for="email">email: </label><input type="text" name="email" id="email"><br>
        <label for="Username">username: </label><input type="text" name="username" id="username"><br>
        <label for="password">password: </label><input type="text" name="password" id="password"><br>
        <label for="confirmPass">confirm password: </label><input type="text" name="confirmPass" id="confirmPass"><br>

        <input type="submit" value="sign up">
        <p>May account ka na boss?<a href="/login">login</a></p>
        
    </form>
</body>
</html>